<h1>New Group</h1>
<%= form_for @group do |f| %>
<%= render 'form' %>

	<% if @group.errors.any? %>
			<% @group.errors.full_messages.each do |msg| %>
				<!--Show errors -->
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
	<% end %>	
<% end %>	

<%= link_to 'Back', groups_path %>
