body { font:12px Helvetica, arial, sans-serif }
h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }


.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.error, .notice, .success { padding:.8em; margin-bottom:1em; border:2px solid #ddd }
.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4 }
.notice { background:#FFF6BF; color:#514721; border-color:#FFD324 }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }

.multSelktrImg span{position: relative;top: 10px;vertical-align: middle;
    display: inline-flex;}
.multSelktrImg input {vertical-align: -2px;}
.multSelktrImg img {position: relative;height: 70px; width:70px;margin: 2px 6px;top: -10px;}



     #order_for{

         width:180px;

      }

   #groups option{
     
     direction:rtl;
   
   }


  input[type='search']{

      height:30px;
      width:170px; 
      color:black;   
  }

  li > a[href='#']{

  color:#1c94c4;
 }
  
 div[class='field'] > label{

  color:#8A8888
;
 }

 li[class=' multSelktrImg'] label{
 
   height: 80px;

 }
#error_explanation ul {

    list-style-type:none;
  }
 
